* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* for App Component */
hr {
  height: 4px;

  background-color: black;

  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;

  margin: 10px 30px;
}

/* for header */
header {
  display: flex;
  justify-content: space-between;
}

header h1, div{
  margin-top: 15px;
}

header h1 {
  margin-left: 40px;
}

header div {
  padding-right: 40px;
}

button, a {
  text-decoration: none;
  color: black;
  background-color: white;
  
  font-size: 20px;

  margin-left: 10px;
  padding: 4px;

  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 1px black;

  cursor: pointer;
}

button:active, a:active {
  box-shadow: 3px 3px 1px black;
  transform: translate3d(1px, 1px, 1px);
}

header div a:hover {
  background-color: yellowgreen;
}

header div button:hover {
  background-color: indianred;
}

.add a:hover {
  background-color: indianred;
}

.add button:hover {
  background-color: steelblue;
}

/* for main */
main {
  height: 80vh;
  overflow-Y: scroll;

  display: flex;
  flex-wrap: wrap;
}

main > div {
  height: 200px;
  width: 250px;

  border: 1px solid black;
  box-shadow: 5px 5px 1px black;

  margin: 30px;
}

main > div p {
  margin-bottom: 5px;
}

.delete-checkbox {
  margin: 10px;
}

main div div:first-child {
  margin: 5px;
}

main div div:nth-child(2) {
  text-align: center;
}

main form {
  display: flex;
  flex-direction: column;

  font-size: 20px;

  margin-left: 40px;
}

main form div {
  width: 210px;
}

main form div:nth-child(4) {
  width: 250px;
}

main form div:nth-child(5) {
  display: flex;
  flex-direction: column;
  width: 250px;
}

main form div input {
  width: 130px;
  float: right;
}

main form div select {
  margin-left: 5px;
  font-size: 15px;
}

.error, .error1 {
  color: red;
}

.error {
  font-size: 15px;
}

.checked {
  background-color: indianred;
}

/* for footer */
footer {
  display: flex;
  justify-content: center;
}

footer p {
  color: black;
}